<!--
  Generated template for the DetailsviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{movie.title}}</ion-title>
    <div *ngIf="movie.showtimes">
      <ion-title *ngIf="movie.showtimes.length > 0" class="showings">Now Playing At: {{movie.showtimes[0].theatre.name}}
        <div class="showtimes">
          <h2 *ngFor="let showtime of movie.showtimes">{{showtime.dateTime | date : 'shortTime'}}</h2>
        </div>
      </ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding style=".tabs .tabbar { position: relative; }">
  <div class="movie">
    <div class="movie-inner">
    <img src="{{movie.poster_path ? 'https://image.tmdb.org/t/p/original' + movie.poster_path : '/assets/imgs/no_image.jpg'}}" class="poster">
    <circle-progress
    [percent]="movie.vote_average * 10"
    [animation]="true"></circle-progress>
    <div id="cast">
      <h2>Top Billed Cast</h2>
      <div *ngFor="let actor of cast | slice:0:5" class="actor">
        <img src="{{actor.profile_path ? 'http://image.tmdb.org/t/p/w185/' + actor.profile_path : '/assets/imgs/no_image.jpg'}}">
        <h4>{{actor.name}}</h4>
        <p>"{{actor.character}}"</p>
      </div>
    </div>
  </div>
  <div class="text">
    <h1 class="title">{{movie.title}}</h1>
    <p class="overview">{{movie.overview ? movie.overview : movie.longDescription}}</p>
    <button (click)="viewTrailer(movie)" ion-button round outline large>Watch Trailer</button>
    <button (click)="imdbLink()" ion-button round outline large>Look up on IMDB</button>
  </div>
  </div>
</ion-content>
